<!-- <app-show-mock-data></app-show-mock-data> -->

<div class="container">
    <div class="item header">1</div>
    <div class="item body">
        <!-- <div class="content-4">
            <div class="content-4__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-4__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-4__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-4__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div> -->
        <!-- <div class="content-9">
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content-9__item">
                <video controls>
                    <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div> -->
        <div class="content-1">
            <div class="content-1--custom">
                <div class="left-side">1</div>

                <div class="content-1">
                    <div class="content-1__item">
                        <video controls>
                            <source src="../assets/pexels-matheus-de-moraes-gugelmim-8493534 (1440p).mp4"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline">
            timeline
        </div>
    </div>
</div>